# MY CLINIQUE — Variables d'environnement d'exemple
DATABASE_URL="mysql://root:password@localhost:3306/myclinique_db"
JWT_SECRET="votre_cle_secrete_jwt_robuste"

NEXT_PUBLIC_APP_NAME="MY CLINIQUE"
NEXT_PUBLIC_APP_SLOGAN="La gestion intelligente de votre clinique"
NEXT_PUBLIC_DEFAULT_CURRENCY="Ar"
